.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.app, h1 {
    font-size: clamp(1rem, 5.5rem, 2.5rem);
    font-weight: bold;
    font-family: "Pacifico", serif;

    &::after{
        content: "";
        display: inline-block;
        width: 15px;
        height: 1em;
        margin-left: 2px;
        vertical-align: text-top;
        animation-name: blink;
        animation-duration: 250ms;
        animation-iteration-count: infinite;
    }
}
@keyframes blink {
    from {
        opacity: 1;
        background-color: black;
    }

    25% {
        background-color: blue;
    }

    80% {
        opacity: 0;
    }
}
